<div class="row">
  <div class="col">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="alert alert-info">A very simple template-driven form validation.</div>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input #firstName="ngModel" id="firstName" name="firstName" type="text" class="form-control" ngModel required />
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="invalid-feedback">
          <div *ngIf="firstName.errors?.['required']">is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input #lastName="ngModel" id="lastName" name="lastName" type="text" class="form-control" ngModel required />
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="invalid-feedback">
          <div *ngIf="lastName.errors?.['required']">is required</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input #email="ngModel" id="email" name="email" type="email" class="form-control" ngModel required />
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
          <div *ngIf="email.errors?.['required']">is required</div>
        </div>
      </div>
      <div class="d-grid gap-1 d-md-flex justify-content-md-center mb-1">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="button" class="btn btn-primary" (click)="form.reset()">Reset</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <app-form-info [ngForm]="form"></app-form-info>
  </div>
</div>
