<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.workout" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Workout</name>
    <description>Sample Apache Cordova App</description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

    <platform name="android">
        <config-file parent="/manifest" target="AndroidManifest.xml" xmlns:android="http://schemas.android.com/apk/res/android">
            <!-- Always include this permission -->
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <!-- Include only if your app benefits from precise location access. -->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <!-- Required only when requesting background location access on Android 10 (API level 29) and higher. -->
            <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
        </config-file>
    </platform>
</widget>
