<div ngbDropdown class="d-inline-block">
  <button type="button" class="btn btn-outline-primary" id="code" ngbDropdownToggle>
    <span #dropdown> <i class="fi fi-{{ selected.code }}"></i> {{ selected.name }} (+{{ selected.prefix }}) </span>
  </button>
  <div ngbDropdownMenu>
    <button type="button" ngbDropdownItem *ngFor="let country of countries" (click)="select($event, country.prefix)">
      <i class="fi fi-{{ country.code }}"></i> {{ country.name }} (+{{ country.prefix }})
    </button>
  </div>
</div>
