<div class="row">
  <div class="col-6">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="alert alert-info">A very simple reactive form group created with the FormBuilder.</div>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input id="firstName" name="firstName" type="text" class="form-control" formControlName="firstName" />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input id="lastName" name="lastName" type="text" class="form-control" formControlName="lastName" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input id="email" name="email" type="email" class="form-control" formControlName="email" />
      </div>
      <div class="d-grid gap-1 d-md-flex justify-content-md-center mb-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <app-form-info [control]="form"></app-form-info>
  </div>
</div>
