<div class="d-flex flex-column h-100 text-center">
  <div class="container mt-auto mb-auto">
    <h1 class="display-1 mb-5"><i class="bi-activity"></i> RxJS</h1>
    <button type="button" class="btn btn-primary m-1" (click)="finalize()">finalize</button>
    <button type="button" class="btn btn-primary m-1" (click)="promise()">promise</button>
    <button type="button" class="btn btn-primary m-1" (click)="interval()">interval</button>
    <button type="button" class="btn btn-primary m-1" (click)="destroy()">destroy</button>
  </div>
</div>
