<div class="row">
  <div class="col">
    <form #form="ngForm" (ngSubmit)="submit(form)">
      <div class="alert alert-info">A very simple template-driven form custom validator.</div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input
          #name="ngModel"
          id="name"
          name="name"
          type="text"
          class="form-control"
          ngModel
          appCustomValidator
          required />
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
          <div *ngIf="name.errors?.['required']">is required</div>
          <div *ngIf="name.errors?.['custom']">must not have length equal to 13</div>
        </div>
      </div>
      <div class="d-grid gap-1 d-md-flex justify-content-md-center mb-1">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  <div class="col-6">
    <app-form-info [ngForm]="form"></app-form-info>
  </div>
</div>
