<div class="d-flex flex-column h-100 text-center">
  <main class="container mt-auto mb-auto">
    <h1 class="display-1 mb-5"><i class="bi-activity" title="Activity"></i> ngx-translate</h1>
    <p>
      <span>{{ 'HELLO.WORLD' | translate }}</span>
      <br />
      <span translate>HELLO.WORLD</span>
      <br />
      <span>{{ 'HELLO.NAME' | translate: { name: 'Jozef' } }}</span>
      <br />
      <span translate [translateParams]="{ name: 'Jozef' }">HELLO.NAME</span>
      <br />
      <span>{{ 'JOIN' | translate: { value: ('US' | translate) } }}</span>
      <br />
      <span translate [translateParams]="{ value: ('US' | translate) }">JOIN</span>
    </p>
    <button class="btn btn-light me-1" (click)="translate('en')"><span class="display-5 fi fi-us"></span></button>
    <button class="btn btn-light" (click)="translate('sk')"><span class="display-5 fi fi-sk"></span></button>
  </main>
</div>
