<div class="row mt-3">
  <div class="col-2">
    <div class="nav flex-column nav-pills">
      <a class="nav-link" routerLink="01" routerLinkActive="active">Example 01</a>
      <a class="nav-link" routerLink="02" routerLinkActive="active">Example 02</a>
      <a class="nav-link" routerLink="03" routerLinkActive="active">Example 03</a>
      <a class="nav-link" routerLink="04" routerLinkActive="active">Example 04</a>
      <a class="nav-link" routerLink="05" routerLinkActive="active">Example 05</a>
      <a class="nav-link" routerLink="06" routerLinkActive="active">Example 06</a>
      <a class="nav-link" routerLink="07" routerLinkActive="active">Example 07</a>
    </div>
  </div>
  <div class="col-10">
    <router-outlet></router-outlet>
  </div>
</div>
